---
import Layout from '../layouts/Page.astro';
---

<Layout>
	<section class="feature-card__section">
		<h2>Tallados en Madera</h2>
		<p>Descubre nuestros tallados en madera hechos a mano, creados con pasión y precisión.</p>
	</section>
</Layout>

<style>
	.feature-card__section {
		margin: var(--section-margin) auto;
		text-align: center;
	}
</style>
